.header {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  background: linear-gradient(90deg, #4b6cb7, #182848); /* Градиентный фон */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image {
  margin-right: 10px;
}

.logo a {
  font-size: 26px;
  font-weight: 700;
  color: #ffffff; /* Белый цвет текста */
  text-decoration: none;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-left: 25px;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  transition: color 0.3s;
}

.nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #ffdd00; /* Желтая линия подчеркивания при наведении */
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.nav a:hover {
  color: #ffdd00;
}

.nav a:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .nav ul {
    flex-direction: column;
    align-items: center;
  }

  .nav li {
    margin-left: 0;
    margin-top: 15px;
  }
}
